@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sigmar+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: Lilita One, open-sans;
}

html{
    scroll-behavior: smooth;
}


header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #F7C948;

}
body{
    background: #7851A9;
    background: radial-gradient(
        circle at 30% 40%,
        #5B3A8E,
        #2B1E3F 70%
    );
    
}   


nav.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2B1E3F;
    justify-content: space-between;
}

div.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.logo h2{
    color: #e5e900;
    font-size: 25px;

}


div.logo img{
    width: 130px;
    height: 120px;
    
}

ul.menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


ul.menu{
    list-style: none;
    margin: 25px;
}

ul.menu li a{
    color:#e5e900;

    text-decoration: none;
}

ul.menu li a:hover{
    cursor: pointer;
    color: aqua;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
     min-height: 90vh;
    display: flex;
    align-items: center;
}

#descr{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}

#descr img{
    width: 1000px;
    animation: float 3s ease-in-out infinite;

}

#descr p{
    font-size: 20px;
    color: #F5F5F5;
    opacity: 0.85;
}

div #info{
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

div#info h1{
    color: #F5F5F5;
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.highlight {
    color: #F7C948;
    font-weight: 700;
}